.App {
  height: 100%;
}

header {
  align-items: center;
  background: #282a36;
  color: #50fa7b;
  display: flex;
  height: 60px;
  justify-content: center;
}

textarea {
  background: #282a36;
  color: #50fa7b;
  border: 1px solid #50fa7b;
  height: 300px;
  width: 500px;
}

textarea::focus {
  outline: 1px #50fa7b solid;
}
